@{
  Layout = "_Layout";
}

@model SweetTreats.Models.Sweet

<h4>Create Sweet</h4>

@if(!ViewData.ModelState.IsValid) 
{
  @Html.ValidationSummary("Please fix the following error(s) and then resubmit the form:") 
}

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name);
  @Html.TextBoxFor(model => model.Name);

  @Html.LabelFor(model => model.Description);
  @Html.TextAreaFor(model => model.Description, 3, 24, null);

  @Html.LabelFor(model => model.Price);
  @Html.TextBoxFor(model => model.Price, new { @type = "number" });
  
  <input type="submit" value="Add new sweet">
}

<p>@Html.ActionLink("Back to sweet list", "Index")</p>